# Node
node_modules/
frontend/dist/
frontend/node_modules/
.npm

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment & IDE
.env
.env.local
.DS_Store
Thumbs.db
.vscode/
.idea/
# Data & Vault
backend/data/vault/
